<div class="main-content bg-lighter">
    <!-- Section: inner-header -->
    <section class="inner-header divider parallax layer-overlay overlay-dark-5" data-bg-img="/images/bg1.jpg">
        <div class="container pt-70 pb-20">
            <!-- Section Content -->
            <div class="section-content">
                <div class="row">
                    <div class="col-md-12">
                        <h2 class="title text-white">Our Courses</h2>
                        <ol class="breadcrumb text-left text-black mt-10">
                            <li><a href="/">Home</a></li>
                            <li class="active text-gray-silver">Our Courses</li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- Section: Course gird -->
    <section>
        <div class="container">
            <div class="row">
                <div class="col-md-9 blog-pull-right">
                    <div class="row">
                        <div class="col-sm-12">
                            <% if(queryName) { %>
                            <p>
                                Searching for <strong><%= queryName %></strong>.
                                <a href="/courses">View All Courses</a>
                            </p>
                            <% } %>
                        </div>
                    </div>
                    <div class="row">
                        <% courses.forEach(function(course) { %>
                        <div class="col-sm-6 col-md-4">
                            <div class="service-block bg-white">
                                <div class="thumb">
                                    <%- include('./course-card-img', { course: course }); %>
                                    <h4 class="text-white mt-0 mb-0">
                                        <% if (course.price) { %>
                                        <span class="price">
                                            $<%= Number.parseFloat(course.price.amount).toFixed(2) %>
                                        </span>
                                        <% } else { %>
                                        <span class="price">
                                                Free
                                            </span>
                                        <% } %>
                                    </h4>
                                </div>
                                <div class="content text-left flip p-25 pt-0">
                                    <h4 class="line-bottom mb-10"><%= course.title %></h4>
                                    <p><%= !course.price || course.paid ? course.value('intro') : 'This course is not free. In order to take it please click button bellow!' %></p>
                                    <% if(course.price && !course.paid) { %>
                                    <%- include('./course-buy-btn', {course: course})%>
                                    <% } else { %>
                                    <a class="btn btn-dark btn-theme-colored btn-sm text-uppercase mt-10"
                                       href="/courses/<%= course.id %>"
                                    >view details</a>
                                    <% } %>
                                </div>
                            </div>
                        </div>
                        <% }); %>
                    </div>
                </div>
                <div class="col-sm-12 col-md-3">
                    <div class="sidebar sidebar-left mt-sm-30">
                        <div class="widget">
                            <h5 class="widget-title line-bottom">Search <span class="text-theme-color-2">Courses</span>
                            </h5>
                            <div class="search-form">
                                <form action="/courses" method="get">
                                    <div class="input-group">
                                        <input name="name" value="<%= queryName %>" type="text"
                                               placeholder="Click to Search"
                                               class="form-control search-input"
                                        >
                                        <span class="input-group-btn">
                      <button type="submit" class="btn search-button"><i class="fa fa-search"></i></button>
                      </span>
                                    </div>
                                </form>
                            </div>
                        </div>
                        <div class="widget">
                            <h5 class="widget-title line-bottom">Course <span
                                        class="text-theme-color-2"
                                >Categories</span></h5>
                            <div class="categories">
                                <ul class="list list-border angle-double-right">
                                    <% taxonomy.items.rows.forEach(function(item) { %>
                                    <li><a href="/courses?category=<%= item.path %>">
                                            <%= item.name %><!--<span>(19)</span>--></a></li>
                                    <% }); %>
                                </ul>
                            </div>
                        </div>
                        <div class="widget">
                            <h5 class="widget-title line-bottom">Photos <span
                                        class="text-theme-color-2"
                                >from Flickr</span></h5>
                            <div id="flickr-feed" class="clearfix">
                                <!-- Flickr Link -->
                                <script type="text/javascript"
                                        src="http://www.flickr.com/badge_code_v2.gne?count=9&amp;display=latest&amp;size=s&amp;layout=x&amp;source=user&amp;user=52617155@N08"
                                >
                                </script>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>