<div class="col-xs-12" id="transactions">
    <h3>Purchased Courses</h3>
    <table class="table bg-white table-stripped">
        <thead class="bg-theme-colored text-white">
        <tr>
            <th scope="col">#</th>
            <th scope="col">Content</th>
            <th scope="col">Price</th>
            <th scope="col">Transaction date</th>
        </tr>
        </thead>
        <tbody>
        <% payments.length && payments.forEach(function(payment, index) {%>
        <tr>
            <th scope="row">
                <%= index + 1 %>
            </th>
            <td>
                <a href="/courses/<%= payment.content_id%>"><%= payment.courseTitle %></a>
            </td>
            <td>
                $<%= formatters.price(payment.amount) %>
            </td>
            <td><%= formatters.dateTime(payment.updated_at)%></td>
        </tr>
        <%})%>

        <% if (!payments.length) {%>
        <tr>
            <td>No course purchased so far</td>
        </tr>
        <%}%>
        </tbody>
    </table>
</div>