<!-- Section: inner-header -->
<section class="inner-header divider parallax layer-overlay overlay-dark-5" data-bg-img="/images/bg2.jpg">
    <div class="container pt-70 pb-20">
        <!-- Section Content -->
        <div class="section-content">
            <div class="row">
                <div class="col-md-12">
                    <ol class="breadcrumb text-left text-black mt-10">
                        <li><a href="/">Home</a></li>
                        <li><a href="/events">Events</a></li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
</section>

<section>
    <div class="container">
        <div class="section-content">
            <h3 class="text-uppercase line-bottom mt-0 line-height-1">
                <i class="fa fa-calendar mr-10"></i>
                Upcoming <span class="text-theme-color-2">Events</span>
            </h3>
            <% events.forEach(function(event){ %>
            <article class="post media-post clearfix pb-0 mb-10">
                <a href="/events/<%= event.id %>" class="post-thumb mr-20">
                    <img style="width: 120px" alt="" src="<%= event.media('photo').first().url %>" >
                </a>
                <div class="post-right">
                    <h4 class="mt-0 mb-5"><a href="#"><%= event.name %></a></h4>
                    <ul class="list-inline font-12 mb-5">
                        <li class="pr-0"><i class="fa fa-calendar mr-5"></i> <%= event.date('starts').format() %> |</li>
                        <li class="pl-5"><i class="fa fa-map-marker mr-5"></i><%= event.value('location') && event.value('location').address %>
                        </li>
                    </ul>
                    <p class="mb-0 font-13">
                        <%- event.value('summary') %>
                    </p>
                    <a class="text-theme-colored font-13" href="/events/<%= event.id %>">Read More →</a>
                </div>
            </article>
            <% }) %>
        </div>
    </div>
</section>
