<!-- Section: inner-header -->
<section class="inner-header divider parallax layer-overlay overlay-dark-5" data-bg-img="/images/bg2.jpg">
    <div class="container pt-70 pb-20">
        <!-- Section Content -->
        <div class="section-content">
            <div class="row">
                <div class="col-md-12">
                    <h2 class="title text-white"><%= event.title%></h2>
                    <ol class="breadcrumb text-left text-black mt-10">
                        <li><a href="/">Home</a></li>
                        <li><a href="/teachers">Events</a></li>
                        <li class="active text-gray-silver"><%= event.title%></li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Section: Experts Details -->
<section>
    <div class="container">
        <div class="section-content">
            <div class="row">
                <div class="col-md-4">
                    <div class="thumb">
                        <img src="<%= event.media('photo').first().url %>" alt="<%= event.title%>">
                    </div>
                </div>
                <div class="col-md-8">
                    <h4 class="name font-24 mt-0 mb-0"><%= event.title%></h4>
                    <ul class="list-inline font-12 mb-5">
                        <li class="pr-0"><i class="fa fa-calendar mr-5"></i> <%= event.date('starts').format() %> |</li>
                        <li class="pl-5"><i class="fa fa-map-marker mr-5"></i><%= event.value('location').address %>
                        </li>
                    </ul>
                    <div>
                        <%- event.value('summary') %>
                    </div>
                </div>
            </div>
            <div class="row mt-30">
                <div class="col-xs-12">
                    <h4 class="line-bottom">Find Location:</h4>

                    <!-- Google Map HTML Codes -->
                    <div
                            data-address="1<%= event.value('location').address %>"
                            data-popupstring-id="#popupstring1"
                            class="map-canvas autoload-map"
                            data-mapstyle="style1"
                            data-height="335"
                            data-latlng="<%= event.value('location').lat %>,<%= event.value('location').lng %>"
                            data-title="sample title"
                            data-zoom="14"
                            data-marker="/images/map-marker.png">
                    </div>

                    <!-- Google Map Javascript Codes -->
                    <script src="http://maps.google.com/maps/api/js?key=AIzaSyATBk5VUPB52mkmqycg4VQDJDQUWQEv294"></script>
                    <script src="/js/google-map-init.js"></script>
                </div>
                <div class="col-md-4">

                </div>
            </div>
        </div>
    </div>
</section>
