<!-- Section: inner-header -->
<section class="inner-header divider parallax layer-overlay overlay-dark-5" data-bg-img="/images/bg2.jpg">
    <div class="container pt-70 pb-20">
        <!-- Section Content -->
        <div class="section-content">
            <div class="row">
                <div class="col-md-12">
                    <h2 class="title text-white"><%= teacher.title %></h2>
                    <ol class="breadcrumb text-left text-black mt-10">
                        <li><a href="/">Home</a></li>
                        <li><a href="/teachers">Our Teachers</a></li>
                        <li class="active text-gray-silver"><%= teacher.title %></li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Section: Experts Details -->
<section>
    <div class="container">
        <div class="section-content">
            <div class="row">
                <div class="col-md-4">
                    <div class="thumb">
                        <img src="<%= teacher.media('photo').first().url %>" alt="<%= teacher.title %>">
                    </div>
                </div>
                <div class="col-md-8">
                    <h4 class="name font-24 mt-0 mb-0"><%= teacher.title %></h4>
                    <h5 class="mt-5 text-theme-color-2"><%= teacher.value('subtitle') %></h5>
                    <em>
                        <%= teacher.value('intro') %>
                    </em>
                    <div>
                        <%- teacher.value('summary') %>
                    </div>
                    <ul class="styled-icons icon-dark icon-theme-colored icon-sm mt-15 mb-0">
                        <li><a href="<%= teacher.value('facebook') %>"><i class="fa fa-facebook"></i></a></li>
                        <li><a href="<%= teacher.value('skype') %>"><i class="fa fa-skype"></i></a></li>
                        <li><a href="<%= teacher.value('twitter') %>"><i class="fa fa-twitter"></i></a></li>
                    </ul>
                </div>
            </div>
            <div class="row mt-30">
                <div class="col-md-4">
                    <h4 class="line-bottom">About Me:</h4>
                    <div class="volunteer-address">
                        <ul>
                            <li>
                                <div class="bg-light media border-bottom p-15 mb-20">
                                    <div class="media-left">
                                        <i class="pe-7s-pen text-theme-colored font-24 mt-5"></i>
                                    </div>
                                    <div class="media-body">
                                        <h5 class="mt-0 mb-0">Experiences:</h5>
                                        <p>
                                            <%= teacher.value('experience') %>
                                        </p>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="bg-light media border-bottom p-15 mb-20">
                                    <div class="media-left">
                                        <i class="fa fa-map-marker text-theme-colored font-24 mt-5"></i>
                                    </div>
                                    <div class="media-body">
                                        <h5 class="mt-0 mb-0">Address:</h5>
                                        <p><%= teacher.value('location') && teacher.value('address').address %></p>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="bg-light media border-bottom p-15">
                                    <div class="media-left">
                                        <i class="fa fa-phone text-theme-colored font-24 mt-5"></i>
                                    </div>
                                    <div class="media-body">
                                        <h5 class="mt-0 mb-0">Contact:</h5>
                                        <p><span>Phone:</span> <%= teacher.value('phone') %>
                                            <br>
                                            <span>Email:</span> <%= teacher.value('email') %>
                                        </p>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-4">
                    <h4 class="line-bottom">Find Location:</h4>

                    <!-- Google Map HTML Codes -->
                    <div
                            data-address="1<%= teacher.value('location') && teacher.value('address').address %>"
                            data-popupstring-id="#popupstring1"
                            class="map-canvas autoload-map"
                            data-mapstyle="style1"
                            data-height="335"
                            data-latlng="<%= teacher.value('address') && teacher.value('address').lat %>,<%= teacher.value('address') && teacher.value('address').lng %>"
                            data-title="sample title"
                            data-zoom="14"
                            data-marker="/images/map-marker.png">
                    </div>
                    <div class="map-popupstring hidden" id="popupstring1">
                        <div class="text-center">
                            <h3><%= teacher.title %></h3>
                            <p><%= teacher.value('location') && teacher.value('address').address %></p>
                        </div>
                    </div>
                    <!-- Google Map Javascript Codes -->
                    <script src="http://maps.google.com/maps/api/js?key=AIzaSyATBk5VUPB52mkmqycg4VQDJDQUWQEv294"></script>
                    <script src="/js/google-map-init.js"></script>
                </div>
                <div class="col-md-4">

                </div>
            </div>
        </div>
    </div>
</section>
